PORT=5000

# MongoDB Atlas connection string
# Replace <db_password> with your actual database password
MONGO_URI=mongodb+srv://shouryaawasthifsd_db_user:<db_password>@cluster0.nbevegk.mongodb.net/internship-portal?retryWrites=true&w=majority&appName=Cluster0

JWT_SECRET=krmu_internship_super_secret_key_2024
JWT_EXPIRE=7d
NODE_ENV=development
FRONTEND_URL=http://localhost:5173
